body{
  margin: 0;
  background-color: #f2f2f2;
}

/*Page Header. DO NOT FUCKING TOUCH*/
.navigation{
  margin:0px;
  padding:0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 7px 15px;
}
a{
  font-family:'Open Sans: 400', sans-serif;
  margin-right: 34px;
}
a:link{
  color: #777777;
  text-decoration: none;
}
a:visited{
  color: #777777;
}
a:hover{
  color: #3c3c3c;
}


