body{
  margin: 0;
  background-color: #f2f2f2;
  font-family:'Open Sans: 400', sans-serif;
  /*color a little off fix later*/
}

.img{
  max-width: 100%;
}


/*Page Header. DO NOT FUCKING TOUCH*/
.page-header{
  margin: 0 14px;
}
a.logo{
  font-size:16px;
  font-color: gray;
}
.navigation{
  margin:0px;
  padding:0;
  display: inline-block;
}
ul{
  list-style: none;
  margin: 0;
  padding: 7px 15px;
}
a{
  margin-right: 27px;
}
a:link{
  color: #777777;
  text-decoration: none;
}
a:visited{
  color: #777777;
}
a:hover{
  color: black;
}
/*HEADER END*/


/*TREE GRAPHIC*/
.tree{
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: 10% 20%;
  height: 400px; /*do not touch*/
  overflow: hidden;
  position: relative;
}
.slogan{
  color:white;
  font-size: 300%;
  text-shadow: 1px 1px #000000;
  max-width: 100%;
  top: 35%;
  left: 33%;
  bottom: 30%;
  text-align: center;
  vertical-align: middle;
  position: absolute;
}
/*TREE GRAPHIC*/
